.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Content{
  /* align-items: flex-start;
  display: flex;
  flex-direction: column; */
  margin: 10px;
}
.headingContainer{
  height: 70px;
  background-color: #cdcdce;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}

.headingContainer_left{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.headingContainer_right{
  display: flex;
  font-size:22px;
  align-items: center;
  position: relative;
}

.headingContainer_right_active{
  box-shadow: 1px 1px 10px 0px #d91212bd;
}

.counter{
  font-size: 14px;
  padding: 10px;
  position: absolute;
  color: #e00;
  font-weight: bold;
  right: -7px;
  bottom: -9px;
  cursor:pointer;
}

.iconDiv{
  border-radius: 4px;
  cursor:pointer;
  padding: 10px;
}
.headingContainer_right:hover{
  box-shadow: 1px 1px 10px 0px #d91212bd;
}

.heading{
  font-size: 27px;
  font-weight: bold;
  padding-left: 10px;
}
.quote{
  font-size: 9px;
}

.listItem{
  display:flex;
  height: 45px;
  border-bottom: 1px solid #cdcdce;
  justify-content: space-between;
  padding-bottom:10px;
}

.listItem_left{
  display: flex;
  align-items: center;
}
.listItem_right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.listItem_right_author{
}

.listItem_right_date{
  font-size: 9px;
}